<p class="text-center" *ngIf="heroes.length == 0">
  Desculpe. Nenhum resultado !
</p>


<ol class="text-center list-unstyled">
  <li *ngFor="let cols of rows" class="row no-gutters p-0">


    <div *ngFor="let hero of cols" class="col-3" apDarkenOnHover>
      <a (click)="selectHero.emit(hero)">
        <tttm-card>
          <tttm-hero-photo [url]="hero.thumbnail.path" [description]="hero.name">
          </tttm-hero-photo>
          <p>{{hero.name}}</p>
        </tttm-card>
      </a>
    </div>
  </li>
</ol>
