<p class="text-center text-muted" *ngIf="!heroes.length"> 
  Sorry, no heroes
</p>

<ol class="list-unstyled">
  <li *ngFor="let cols of rows" class="row no-gutters p-0">
      <div *ngFor="let hero of cols" class="col-4" apDarkenOnHover>
          <a (click)="">
              <ap-card>
                  <ap-photo 
                      [url]="photo.url" 
                      [description]="photo.description">
                  </ap-photo>            
              </ap-card>
          </a>
      </div>
  </li>
</ol>