html, body{
  width: 100%;
  height: 100%;
  min-height: 410px;
}

body {
  font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  background: linear-gradient(to left, rgb(85, 3, 3), rgb(177, 9, 9) 25%, rgb(177, 9, 9) 75%, rgb(85, 3, 3) 100%);
}

html { overflow-y: scroll; }
body { position: absolute; }

*, ::after, ::before {
  box-sizing: content-box !important;
}

.heroThumb {
  max-width: 180px;
  max-height: 180px;
}

.centerText {
  text-align: center !important;
}

.transparence30 {
  background-color: rgba(0,0,0,.3) !important;
}

tic-tac-toe{
  width: 100%; 
  display: block;
}

ttt-main {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -304px;
  margin-left: -200px;
  display: block;
}

.ttt-main {
  width: 100%;
  height: 100%;
  border: 60px solid #0e3e6e;   
  border-radius: 6px;  
  background: #0e3e6e;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
  -webkit-box-shadow: 0 22px 43px 0 rgba(0,0,0,.3);
  box-shadow: 0 22px 43px 0 rgba(0,0,0,.3); 
}

.square{
  width: 22.5%;
  height: 22.5%;
  background-color: #ffffff;
  float: left;
  text-align: center;
  margin: 20px; 
  cursor: pointer;
  line-height: 2.5;
  border-radius: 4px;
  
  img{
    width: 70%;
    margin-top: 8px
  }
}

.top{
  margin-top: 0;
}

.bottom{
  margin-bottom: 0;
}

.left{
  margin-left: 0;
}

.right{
  margin-right: 0;
}

.current-player{
  width: 340px;
  height: 62px;
  margin: 0 auto 0px auto;
  font-size: 20px;
  display: block;
  text-align: center;
  
  span{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    position: relative; 
  }
  
  .title-block{
    @extend span;
    width: 1px;    
  }

  img{
    width: 100%;
  }
}

.winner-player{
  @extend .current-player;
}

.draw{
  @extend .current-player;
}

.tc-lock-field{
  position: absolute;
  width: 100%;
  height: 100%;
}